*{
  box-sizing: border-box;
}
.comment{
    cursor: pointer;
}
.tab-list {  
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  width: 600px;
}
  
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.list-message {
  height: 600px;
  width: 600px;
  border: 1px solid #ccc;
  border-top: 0px;
  overflow-y: auto;
}
.input {
  display: flex;
  justify-content: 'space-between';
}